.card {
  width: 282px;
  height: 361px;
  background: #fff;
  border-radius: 10px;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__text {
  font-family: "Inter", Arial, sans-serif;
  /* margin-top: 25px; */
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background-color: transparent;
  box-sizing: border-box;
  border: 0px;
  padding-left: 0px;
}

.card-icon__button {
}
