.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", Arial, sans-serif;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  font-weight: normal;
  font-style: normal;
}
