.profile {
  display: flex;
  margin-left: 200px;
  margin-top: 40px;
}

.profile__picture {
  max-width: 168px;
  max-height: 127px;
  border-radius: 50%;
}

.profile__name {
  display: flex;
  flex-direction: column;
  color: #ffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 42px;
  width: 373px;
  height: 39px;
  margin-left: 30px;
  margin-bottom: 0px;
  gap: 16px;
}

.profile__description {
  color: #ffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.profile__edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffff;
  background-color: transparent;
  margin-top: 45px;
}

.profile__pen-tool {
  width: 10px;
  height: 10px;
}

.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #ffff;
  background-color: transparent;
  margin-left: 178px;
  margin-top: 45px;
}

.profile__plus-sign {
  width: 22px;
  height: 22px;
}
