.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image-edit {
  transition: opacity ease-in-out 0.2s;
}

.profile__image-edit:hover .profile__image {
  opacity: 0.4;
  z-index: 5;
}

.profile__image-edit:hover .profile__image-edit-tool {
  opacity: 1;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  transition: opacity ease-in-out 0.2s;
}

.profile__image-edit-tool {
  width: 26px;
  height: 26px;
  left: 45px;
  top: 90px;
  right: 100px;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.profile__image-edit-tool:hover {
  opacity: 1;
}

.profile__image:hover {
  cursor: pointer;
  background: #000000 center no-repeat;
  background-image: url(../images/edit-avatar-pencil.svg);
  z-index: 4;
  /* opacity: 0.4; */
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: flex-end;
  margin-left: 24px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  grid-area: title;
  margin: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 16px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/pentool.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  grid-area: button;
  margin-left: 18px;
  margin-bottom: 8px;
  transition: opacity ease-in-out 0.2s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/plussign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: auto;
  border-radius: 2px;
  transition: opacity ease-in-out 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
  }

  .profile__info {
    min-width: 282px;
    margin-top: 26.25px;
  }

  .profile__title {
    min-width: 196px;
    text-align: center;
  }

  .profile__description {
    min-width: 282px;
    margin: 0;
    margin-top: 14px;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    margin-top: 36px;
    min-width: 282px;
    min-height: 50px;
  }

  .profile__image-edit-tool {
    right: 190px;
    left: 190px;
  }
}

@media screen and (max-width: 440px) {
  .profile__image-edit-tool {
    right: 170px;
    left: 170px;
  }
}

@media screen and (max-width: 426px) {
  .profile__image-edit-tool {
    right: 160px;
    left: 160px;
  }
}

@media screen and (max-width: 406px) {
  .profile__title {
    font-size: 26px;
    margin-left: 62px;
    line-height: 27px;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__edit-button {
    margin-right: 32px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .profile__image-edit-tool {
    right: 135px;
    left: 135px;
  }
}

@media screen and (max-width: 390px) {
  .profile__image-edit-tool {
    right: 140px;
    left: 140px;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    min-width: 196px;
    font-size: 22px;
    margin-left: 62px;
  }
  .profile__description {
    max-width: 282px;
    margin-left: 19px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__edit-button {
    margin-left: 10px;
    margin-right: 34px;
    margin-bottom: 4px;
    width: 18px;
    height: 18px;
  }
  .profile__image-edit-tool {
    right: 130px;
    left: 130px;
  }
}
