.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
}

.header__line {
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: 41px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: flex-end;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  grid-area: title;
  margin: 0;
  max-width: 373px;
  max-height: 39px;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  margin-top: 16px;
  max-width: 415px;
  max-height: 22px;
}

.profile__edit-button {
  background: transparent url(../images/pentool.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  grid-area: button;
  margin-left: 18px;
}

.profile__add-button {
  background: transparent url(../images/plussign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: auto;
}

.cards {
  /* fonts */
  margin-top: 40px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter";
  border-radius: 0px 0px 10px 10px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}

.footer__address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (min-width: 560px) {
  .profile__title {
    max-height: 88px;
  }
}

@media screen and (min-width: 482px) {
  .profile__title {
    max-height: 88px;
  }
}

@media screen and (min-width: 725px) {
  .profile__title {
    max-height: 39px;
  }
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 375px) {
  .profile__title {
    font-size: 26px;
    margin-left: 62px;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__edit-button {
    margin-right: 34px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
    min-height: 286px;
  }

  .profile__info {
    min-width: 282px;
    min-height: 50px;
    margin-top: 26.25px;
  }

  .profile__title {
    min-width: 196px;
    min-height: 22px;
  }

  .profile__description {
    min-width: 282px;
    min-height: 14px;
    margin: 0;
    margin-top: 14px;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    margin-top: 36px;
    min-width: 282px;
    min-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    min-width: 196px;
    min-height: 22px;
    font-size: 22px;
    margin-left: 62px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-right: 34px;
    margin-bottom: 5px;
  }

  .profile__image {
    margin-right: 0;
  }
}
